@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">Contact</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Menu" asp-action="Index">Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Pizzas">Pizzas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@((ViewBag.UserName != null) ? "/UserAccount" : "/Authorisation")">
                    @if (ViewBag.UserName != null)
                    {
                        @ViewBag.UserName
                    }
                    else
                    {
                        @:Sign up or Log in
                    }
                </a>
            </li>

            @if (ViewBag.UserName == "Oleksandr")
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/PizzaList">Menu Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Purchases">Purchases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Ingredients">Ingredients</a>
                </li>
            }
        </ul>
    </div>
</nav>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
        }

        .hero {
            background-image: url('/images/Contact_Template.jpg');
            background-size: cover;
            background-position: center;
            height: 600px;
            text-align: center;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            .hero h2 {
                font-size: 30px;
                margin-bottom: 10px;
                color: white;
                font-family: 'Comic Sans MS', cursive, sans-serif;
            }

        .info-section {
            margin: 50px 0;
            text-align: center;
        }

            .info-section h2 {
                font-size: 30px;
                margin-left: 350px;
                color: white;
                font-family: 'Comic Sans MS', cursive, sans-serif;
            }

            .info-section h3 {
                font-size: 30px;
                margin-left: 350px;
                color: white;
                font-family: 'Comic Sans MS', cursive, sans-serif;
            }

            .info-section p {
                font-size: 18px;
                margin: 20px 0;
            }

    </style>
</head>
<body>
	<div class="hero"></div>
    <div class="info-section container">
    <h2>Our phone number - +380 12 345 67 78</h2>
    <h2>Our email - exampleEmail@gmail.com</h2>
    </div>
</body>
</html>
